.container-lgpd {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    max-width: 200px;
}

h1, h2, h3 {
    color: #08632D;
    margin-top: 30px;
}

h1 {
    border-bottom: 2px solid #08632D;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 15px;
}


ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #08632D;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
        margin: 10px;
    }
    
    h1 {
        font-size: 1.5em;
    }
    
    h2 {
        font-size: 1.2em;
    }
    
    h3 {
        font-size: 1em;
    }
}